.topBar {
  width: 100%;
  background: #6ebbff; /* el color azul claro */
  padding: 8px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.left {
  display: flex;
  gap: 18px;
  font-size: 16px;
}

.right {
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

  .right {
    flex-direction: column;
    gap: 4px;
  }
}
