.faqSection {
  padding: 80px 20px;
  background-color: #ffffff;
  text-align: center;
}

.subtitle {
  color: #5eb3e4;
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  font-size: 42px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 10px;
}

.description {
  max-width: 800px;
  margin: 0 auto 40px auto;
  color: #808080;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 74, 128, 0.1);
  cursor: pointer;
  transition: 0.2s ease;
  border-left: 4px solid #5eb3e4;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 74, 128, 0.15);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #004a80;
}

.icon {
  font-size: 18px;
  color: #f4c300;
}

.answer {
  margin-top: 15px;
  text-align: left;
  color: #808080;
  line-height: 1.4;
  padding-right: 10px;
  overflow: hidden;
}

/* Responsivo */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 32px;
  }
}
