.card {
  background-color: #073366;
  padding: 30px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.title {
  color: #ffd34e;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.label {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
}

.button {
  width: 100%;
  background-color: #ffd34e;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: #ffbe00;
}

.result {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}
